<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="generator" content="Pelican" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/theme/css/main.css">
    <link rel="stylesheet" href="/theme/css/vines.css">
    <link rel="stylesheet" href="/theme/css/pathways.css">
    <link rel="stylesheet" href="/theme/css/articlecart.css">

    <link rel="shortcut icon" type="image/png" href="/theme/{% block favicon %}favicon4.png{% endblock favicon %}"/>

    <script src="/theme/js/jquery-3.6.0.min.js"></script>

    {% endblock head %}
  </head>

  <body class="{% block body_class %}{% endblock %}">

    {% block body %}

    {% endblock body %}

  </body>

  <script>window.REVISION_ID = '{{ REVISION_ID }}'</script>
  {% block script %}
  {% endblock script %}

</html>
