{% extends "article.html" %}
{% block extra_article_content %}
  <ul>
    {% for synonyms in GLOSSARY %}
      <li>
        <ul>
          {% for word in synonyms %}
            <li>{{ word }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
{% endblock %}