
.article-cart{
  position: relative;
  width: 100%;
}

/* ___ CHANGE DEFAULT TRIANGLE ___ */

details > summary {
    list-style-type: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
.article-cart details summary h2::before{
  /* putting it as a pseudo element of the h2 instead of the summary
  avoid line breaks just after the arrow */
  display: inline-block;
  content: "➤";
  font-size: 0.75em;
  padding-right: 0.5em;
  transform-origin: calc(50% - 0.25em) 50%;
  transition: 200ms;
}
.article-cart details[open] summary h2::before{
  transform: rotate(90deg);
}

/* ___ GLOBAL STYLING ___ */

.category {
  text-transform: capitalize;
  margin-bottom: 0em;
  letter-spacing: 0.2em;
}
.category::before{
  content: var(--section-uni);
  color: var(--section-clr);

  font-size: 1.5em;
  width: 1em;
  text-align: center;
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
  pointer-events: none;

  position: relative;
  z-index: 0;
}

.article-cart summary {
  cursor: pointer;
  outline: none;
  padding-bottom: calc(var(--em-space) * 1);
  position: relative;
  z-index: 3;
}
.article-cart summary h2{
  margin: 0;
  line-height: 1.15;
}
.article-cart summary .author{
  line-height: 1.3;
}
.article-cart main{
  border-top: var(--vine-width-thin) dotted var(--vine-color);
}
.article-cart main > p{
  margin: var(--em-space) 0;
}

/* ___ ARTICLE OVERFLOW HANDLING ___ */
/*
  - the details tag open until it reaches all available space
  - then the main tag inside of it create an overflow-y: auto
*/
/* https://medium.com/@stephenbunch/how-to-make-a-scrollable-container-with-dynamic-height-using-flexbox-5914a26ae336
  - for that to work every parent of the main tag has to be on flex column
  - with min-height: 0
*/
/* https://stackoverflow.com/questions/58225530/details-element-seems-to-ignore-display-flex-or-grid */
/* but... we can't change the display of the detail tag :(
Note: we could give a max-height to the main tag
but we don't know the value because height of summary vary
TODO: find better solution?
*/
.article .article-cart{
  /* on big screen this can become quite too large */
  max-width: 40ch;

  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}
.article .article-cart{
  /* flex-grow: 1;
  min-height: 0; */

  /* display: flex;
  flex-direction: column; */
}
.article .article-cart main {
  /* flex-grow: 1; */

  /* for the moment try an estimation that will work in most cases... */
  max-height: 50vh;
  min-height: 0;
  overflow: auto;

  background: var(--box-clr);
  padding-left: var(--pad);
  padding-right: calc(var(--pad) / 2);
  border-bottom: var(--vine-width) solid var(--vine-color);
  margin-bottom: calc(var(--em-space) * 1);
  border-top: none;
}

/* ___ HOVER & LINK EFFECT ____ */

/* --- hovering effect --- */
:is(#map, #entrances) .article-cart::before{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 320px;
  width: 320px;
  transform: translate(-50%, -50%);
  z-index: 0;
  background: radial-gradient(circle closest-side at 50% 50%, var(--section-clr), transparent);
  opacity: 0;
  transition: opacity 6s, width 250ms, height 250ms;
  pointer-events: none;

  max-width: 100vw;
  max-height: 100vw;
}
:is(#map, #entrances) .article-cart:hover::before{
  opacity: 1;
  transition: opacity 250ms, width 250ms, height 250ms;
}
:is(#map, #entrances) .article-cart.hover::before{
  height: 600px;
  width: 600px;
}

/* --- visited effect --- */
:is(#map, #entrances) .article-cart.explored::after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 320px;
  width: 320px;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: radial-gradient(circle closest-side  at 50% 50%, transparent 25%, lightgrey, transparent 75%);
  pointer-events: none;
  max-width: 100vw;
  max-height: 100vw;
  transition: opacity 250ms;
}
:is(#map, #entrances) .article-cart:hover::after{
  opacity: 0;
}
/* there is a link to the article behind the detail tag */
:is(#map, #entrances) .article-cart a.map-link{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 2;
}

/* detail summary is above the link */
:is(#map, #entrances) .article-cart summary{
  position: relative;
  z-index: 3;
}
:is(#map, #entrances) .article-cart main{
  position: relative;
  z-index: 1;
}

/* links in main above the rest */
:is(#map, #entrances) main a{
  position: relative;
  z-index: 100;
}

/* ___ MAP ___ */

#map .article-cart-wrapper{
  display: flex;
  align-items: start;
  min-height: 20vh;
}
#map .category{
  position: relative;
  z-index: 2;
}
/* ___ only one line of title when closed on the map ___ */
#map .article-cart details:not([open]) summary h2{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: -0.5em;
  padding-bottom: 0.5em;
}

/* ___ ENTRANCES ___ */

nav#entrances h2{
  font-size: 2.5em;
}
nav#entrances summary{
  padding-bottom: 0;
}
nav#entrances main{
  border-top: 0;
}
nav#entrances .article-cart::before{
  min-width: 20vw;
  min-height: 20vw;
  z-index: 100;
  mix-blend-mode: darken;
}
nav#entrances .article-cart a.map-link{
  z-index: 1000;
}

/* ___ ENTRANCES LIMITED HEIGTH ___ */

nav#entrances .article-cart{
  display: flex;
  flex-direction: column;
}
nav#entrances .details{
  flex-grow: 1;
  max-height: 50vh;
  overflow: hidden;
  position: relative;
}
nav#entrances .details::after{
  content: "";
  display: block;
  position: absolute;
  bottom: 0; left: 0; right: 0;
  height: calc(var(--em-space) * 6);
  z-index: 10;
  background: linear-gradient(to top, var(--background-clr) 10%, transparent);
  pointer-events: none;
}

/* ___ ENTRANCE CLICK TO ENTER ___ */

/* TODO: must not depend on the width but really on mobile */
nav#entrances .article-cart .touch{
  display: none;
  color: grey;
  text-align: center;
  z-index: 15;
  pointer-events: none;
}

/* ___ BIGGER CATEGORY ICON ___ */

.article .category::before,
nav#entrances .category::before{
  font-size: 5em;
  position: absolute;
  top: 0;
  left: 50%;
  height: auto;
  line-height: normal;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}
nav#entrances .category::before{
  top: calc(var(--pad) * -2);
}
.article .category{
  padding-top: calc(var(--em-space) * 3);
}

/* ___ MOBILE ____ */

@media screen and (max-width: 1152px) {
  .article .article-cart-wrapper{
    width: 100%;
  }
  .article .article-cart{
    max-width: 100%;
    width: 100%;
  }
  .article .article-cart main {
    border-bottom: 0;
    background: none;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    border-top: var(--vine-width-thin) dotted var(--vine-color);
  }

  .article .article-cart .category{
    padding-top: calc(var(--em-space) * 1/2);
    padding-bottom: calc(var(--em-space) * 1);
  }
  .article .article-cart .category::before{
    font-size: 3em;
    width: 1em;
    position: static;
    transform: none;
    line-height: 0;
  }

  nav#entrances .category::before{
    font-size: 5em;
    position: static;
    display: block;
    margin: auto;
    transform: none;
    margin-bottom: -0.35em;
    margin-top: 0.1em;
  }
  nav#entrances .details{
    max-height: 30vh;
  }
}
@media screen and (max-width: 600px) {
  #map .article-cart-wrapper{
    min-height: 0;
    margin: var(--pad) 0;
  }
  .article .article-cart .category{
    padding-bottom: calc(var(--em-space) * 1/2);
  }
  .article .article-cart .category::before{
    font-size: 2em;
  }
  nav#entrances .details{
    max-height: 35vh;
  }
  nav#entrances .category::before{
    font-size: 5em;
    position: static;
    display: block;
    margin: auto;
    transform: none;
    margin-bottom: -0.4em;
    margin-top: 0;
  }

  /* ___ only one line of title on mobile ___ */
  .article .article-cart details:not([open]) summary h2{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: -0.5em;
    padding-bottom: 0.5em;
  }

}
