
/* ___ LAYOUT ____ */

body{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  overflow-x: hidden;
}

/* SIDE INTERFACE */
body > #side-interface{
  --v-padding: 15vh;

  /* sticky box */
  position: sticky;
  top: 0;
  height: calc(100vh - calc(calc(var(--pad) * 2) + var(--v-padding)));
  z-index: 3;

  /* leaving places for the nav buttons */
  box-sizing: content-box;
  padding: calc(var(--pad) * 2) calc(var(--pad) * 2) var(--v-padding);
  padding-right: var(--pad);
}
body > #side-interface{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  align-items: stretch;

  z-index: 100;
}
body > #side-interface > *{
  max-height: 100%;
  max-width: 100%;
}

/* MAIN SECTION */
body > main{
  padding: calc(var(--pad) * 4);
  padding-top: calc(var(--pad) * 2);
  padding-bottom: 15vh;
}

main > article{
  /* max-width: 70ch; */
  max-width: 650px;
  margin: auto;
  position: relative;
}

/* MOBILE LAYOUT */

@media screen and (max-width: 1152px) {
  body{
    grid-template-columns: 100%;
    grid-auto-rows: min-content;
  }

  body > #side-interface{
    padding: calc(var(--pad) * 1.5) calc(var(--pad) * 2) calc(var(--pad) * 1);
    height: min-content;
    border-bottom: var(--vine-width-thin) solid var(--vine-color);
    background: var(--box-clr);
  }
  body > #side-space{
    display: none;
  }
  body > main{
    order: 1;
    border: none;
    /* can not break horizontally */
    max-width: 100vw;
    overflow: hidden;
  }
}

@media screen and (max-width: 600px) {
  body > #side-interface{
    padding-bottom: 0;
  }
  body > main{
    padding-top: calc(var(--pad) * 4);
  }
}

/* ___ IMAGES ___ */

article img{
  max-width: 100%;
  max-height: 70vh;
  margin: calc(var(--em-space) * 2) auto;
  display: block;

  mix-blend-mode: darken;

  cursor: crosshair;
}

/* out images */
article img.out {
  margin-left: 0;
  width: 25vw;
  object-fit: contain;
  position: absolute;
  left: 100%;
  margin: 0 calc(var(--pad) * 2);
  max-height: 100vh;
}

/* side to side images */
article section.side-to-side > p{
  display: flex;
  gap: var(--pad);
  margin-left: calc(var(--pad) * -2);
  margin-right: calc(var(--pad) * -2);
  flex-flow: row nowrap;
  align-items: flex-start;
}
article section.side-to-side > p > img {
	flex: 1 1 auto;
	margin: 0;
	display: block;
	min-width: initial;
	min-height: initial;
	width: 100%;
	max-height: initial;
	max-width: initial;
}

/* figures */
figure{
  margin: calc(var(--em-space) * 2) auto;
}
figure img{
  margin: 0 auto !important;
}
figcaption p{
  margin: 0;
  margin-top: var(--em-space);
  text-align: right;
  color: #505050;
  /* font-size: 0.75rem; */
}

/* FULLSCREEN images */
body.has--fullscreen {
  overflow: hidden;
}

article div.fullscreen{
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  /* height: 100vh;
  width: 100vw; */
  z-index: 9999;
  padding: calc(var(--pad) * 2);

  display: flex;
  justify-content: center;
  align-items: center;
}
article div.fullscreen::after{
  content: ""; display: block;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  background: var(--section-clr);
  opacity: 0.5;
}
article div.fullscreen img{
  /* reset */
  margin: 0;
  mix-blend-mode: normal;
  width: auto; height: auto;
  max-height: none; max-width: none;
  position: relative; z-index: 10000;
  left: auto; top: auto; right: auto; bottom: auto;

  /* keeping it at it's original size
  unless bigger than the container */
  min-height: 0;
  min-width: 0;
  max-width: 100%;
  max-height: 100%;
  cursor: zoom-in;
}

article div.fullscreen.zoom {
  overflow: auto;
  display: block;
  padding: 0;
}

article div.fullscreen.zoom img {
  max-width: none;
  max-height: none;
  cursor: zoom-out;
}

.fullscreen--close-button {
	content: "x";
	font-size: 25px;
	display: block;
	padding: var(--pad);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 10001;
	font-family: interface-ui, sans-serif;
}

.fullscreen--close-button::after {
	content: "×";
}

@media screen and (max-width: 1152px) {
  article img,
  article img.out{
    width: auto;
    position: static;
    max-width: 100%;
    max-height: 75vh;
    margin: calc(var(--em-space) * 2) auto;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  article img,
  article img.out{
    width: auto;
    position: static;
    max-width: 100%;
    max-height: 75vh;
    margin: 0 auto;
    display: block;
  }
}

/* ___ AUDIO ___ */

article .audio.out{
  /* margin-left: 0;
  width: 25vw;
  position: fixed;
  top: 25vh;
  right: 0; */
  position: sticky;
  top: 2em;
  z-index: 1;
  margin: 0 calc(var(--pad) * -2);
}
article .audio.out > audio{
  border: var(--vine-width) solid var(--vine-color);
  border-radius: 1em;
  border-left: 0;
  width: 100%;
}
article .audio.out > audio:not(:last-of-type){
  margin-bottom: calc(var(--em-space) * 2);
}
@media screen and (max-width: 1152px) {
  article .audio.out{
    width: auto;
    position: static;
    max-width: 100%;
    margin: 0 auto;
  }
}



/** Timecode styles */
.audiobookmark.inline {
	font-family: monospace;
	float: left;
	width: 8ch;
	text-align: left;
	clear: left;
	margin: 0 0 0 -8ch;
	line-height: 2;
  cursor: pointer;
  text-decoration: underline;
  font-size: 80%;
  color: var(--interviews-clr);
  line-height: calc(var(--line-height) / 0.8);
}

.audiobookmark.inline:hover {
  /* text-decoration: underline; */
  text-decoration: none;
}

h2 + .audiobookmark.inline {
  margin-top: 1em;
}

.audio + .audiobookmark.inline {
	margin-top: 2em;
}

/* ___ TYPOGRAPHY ___ */

article h1 + p{
  margin-top: calc(var(--em-space) * 3);
}

article blockquote{
  font-style: italic;
}

article ul,
article ol {
  margin: calc(var(--em-space) * 2) 0;
  padding-left: var(--pad);
}

article .roman ol{
  list-style-type: lower-roman;
}

article hr{
  margin-top: calc(var(--em-space) * 8);
  margin-bottom: calc(var(--em-space) * 4);
}

/* ___ FOOTNOTES ___ */

.footnote ol{
  margin: 0;
  padding: calc(var(--pad) * 2);
}
.footnote li {
  font-size: 0.75rem;
  position: absolute;
  /* line-height: calc(var(--line-height) * 1rem); */
  left: calc(100% + var(--pad) * 6);
  width: calc(25vw - var(--pad) * 4);
  z-index: 4;
  color: #505050;
}
.footnote-side li p {
  margin-top: 0;
}
a.footnote-ref {
  text-decoration: none;
  color: currentColor;
}
a.footnote-backref {
  display: none;
  text-decoration: none;
  margin-left: 0.5em;
}

@media screen and (max-width: 1152px) {
  .footnote hr{
    display: block;
  }
  .footnote li {
    position: static;
    width: auto;
  }
  a.footnote-ref {
    color: #0000EE;
    cursor: pointer;
  }
  a.footnote-backref {
    display: inline;
  }
  .footnote li p {
    margin: calc(var(--em-space) * 1) 0;
  }
  a.footnote-ref:visited {
    color: #0000EE;
  }
  a.footnote-backref:visited {
    color: #0000EE;
  }
}

/* ___ LICENSES ___ */

.licenses{
  font-size: 0.75rem;
  color: #505050;
  margin: 0;
}
@media screen and (max-width: 1152px) {

}

/* ___ INTERVIEW ACTORS ___ */

.interviews strong {
  padding-right: 0.5rem;
  font-weight: normal;
  /* text-decoration: var(--vine-width-thin) underline var(--vine-color); */
  text-decoration: underline;
  text-decoration-style: dotted;
  /* margin-left: calc(var(--pad) * -1); */
}
/* @media screen and (max-width: 1152px) {
  .interviews strong{
    margin-left: 0;
  }
} */

section.introduction {
  margin: calc(var(--pad) * -4);
  margin-top: 0;
  margin-bottom: calc(var(--pad) * 4);
  padding: 0 calc(var(--pad) * 2);
  overflow: auto;
  position: relative;
  background: var(--box-clr);
  border-bottom: var(--vine-width-thin) dotted var(--vine-color);
  padding-top: var(--em-space);
}
section.introduction p{
  margin: var(--em-space) 0;
}
@media screen and (max-width: 600px) {
  section.introduction{
    margin-top: calc(var(--pad) * -4);
  }
}

/* added link list */
ul.link-list{
  margin-top: 0;
  padding: 0;
  line-height: 1.3;
}
ul.link-list li{
  list-style: none;
}
ul.link-list li a,
ul.link-list li a:visited{
  color: var(--section-clr);
}


/* ___ TOP ANCHOR ___ */

a#to-top{
  font-size: 1.75em;
  text-decoration: none;
  color: var(--vine-color);
}
a#to-top:visited{
  color: var(--vine-color);
}

/* ___ iFRAME ___ */

iframe {
  box-sizing: border-box;
  display: block;

  width: calc(100% + 25vw);
  height: calc(100vh - calc(var(--pad) * 8));
}

* + iframe {
  margin-top: calc(var(--pad) * 8));
}

@media screen and (max-width: 1152px) {
  .iframe-wrapper{
    margin-left: calc(var(--pad) * -2);
    margin-right: calc(var(--pad) * -2);
  }
 iframe {
   height: 60vh;
   width: 100%;
 }
}
