/* ___ HOMEPAGE ___ */

body{

}

/* ___ Title ___ */

h1#alchorisma{
  text-align: left;
  margin: 0;
  font-size: 4.5em;
  --lsp: -0.15em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: var(--lsp);
}
h1#alchorisma::after {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  vertical-align: baseline;
  height: 0.5em;
  width: 1em;
  border-bottom: solid;
  border-radius: 0 0 50% 0;
  border-color: var(--vine-color);
  border-width: var(--vine-width);
}

/* ___ TOP SECTION ___ */

.top-section{
  display: grid;
  grid-template-columns: 2fr 1fr;

  padding: calc(var(--pad) * 2);
  /* padding-top: var(--pad); */
  padding-bottom: calc(var(--pad) * 3);
  background: var(--box-clr);
  /* border-bottom: var(--vine-width) solid gainsboro; */
}
header{
  padding-right: calc(var(--pad) * 2);
}
section#pathways-intro{
  padding: 0 calc(var(--pad) * 2) calc(var(--pad) * 2);
  background: var(--box-clr);

  border-radius: 0 6em 0 6em;
  color: grey;
  border: 1px solid gainsboro;
  background: var(--background-clr);
}
section#pathways-intro p{
  margin: var(--em-space) 0;
}
section#pathways-intro ul{
  margin: 0; padding: 0;
  list-style: none;
}
section#pathways-intro .category::before{
  margin-right: 1em;
  width: 1.5em;
}
section#pathways-intro li:nth-of-type(even){
  margin-left: 1.5em;
}
section#pathways-intro li:nth-of-type(even) .category::before{
  margin-right: 0.5em;
}

header .introduction{
  margin-top: calc(var(--pad) / 2);
  margin-left: calc(var(--pad) * 3);
  margin-right: calc(var(--pad) * 3);
  border-bottom: border: 1px solid gainsboro;

  box-sizing: content-box;
  max-width: 900px;
}
header .definition{
  font-size: 1.5em;
  line-height: 1.1;
}
header .definition > p{
  margin: 0;
}
header .about > p{
  margin: var(--em-space) 0;
}
header .nav{
  margin-left: calc(var(--pad) * -3);
}

section#pathways-intro h2{
  margin-top: 1em;
  text-decoration: underline;
  text-decoration-style: wavy;
}

/* ___ START SCREEN ___ */

nav#entrances{
  /* background: linear-gradient(var(--box-clr), var(--background-clr) calc(var(--pad) * 2)); */
  position: relative;
  overflow: hidden;
}
nav#entrances::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	content: "";
	height: 35vh;
	background: radial-gradient(ellipse farthest-side at bottom, transparent 100%, var(--box-clr) 100%);
	transform: scale(1.5, 1);
	transform-origin: top center;
	pointer-events: none;
	z-index: -1;
}
nav#entrances ul{
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: calc(var(--pad) * 8);
  padding-left: calc(var(--pad) * 8);
  padding-top: calc(var(--pad) * 7);
}
nav#entrances ul > li{
  list-style: none;
  flex: 1 1 100%;
  max-width: 550px;

  position: relative;

  padding: 0 calc(var(--pad) * 2);

  display: flex;
  flex-direction: column;
}
nav#entrances ul > li > .article-cart{
  padding-top: calc(var(--pad) * 1);
  padding-bottom: calc(var(--pad) * 2);
  flex-grow: 1;
}

/* ____ BOTTOM ___  */

body{
  margin-bottom: 10vh;
}

/* ___ MOBILE ___ */

@media screen and (max-width: 1450px) {
  nav#entrances ul{
    padding-right: calc(var(--pad) * 4);
    padding-left: calc(var(--pad) * 4);
  }
}

@media screen and (max-width: 1152px) {
  .top-section{
    grid-template-columns: 100%;
  }
  header{
    padding-right: 0;
    padding-bottom: calc(var(--pad) * 4);
  }
  section#pathways-intro{
    margin-left: calc(var(--pad) * -2);
    margin-right: calc(var(--pad) * -2);
    padding-left: calc(var(--pad) * 5);
    padding-right: calc(var(--pad) * 5);
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
  nav#entrances ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: calc(var(--pad) * 2);
    padding-left: calc(var(--pad) * 2);
  }
  nav#entrances ul > li{
    padding: 0 calc(var(--pad) * 3);
  }
  nav#entrances ul > li > .article-cart{
    padding-top: 0;
    padding-bottom: calc(var(--pad) * 3);
  }
}
@media screen and (max-width: 600px) {
  h1#alchorisma{
    font-size: 12.5vw;
  }
  header .definition{
    font-size: 1.25em;
    line-height: 1.2;
  }
  nav#entrances h2{
    font-size: 1.75em;
  }
}
