
:root{
  /* ___ GLOBAL ___ */

  --background-clr: whitesmoke;   /* in game color */
  --box-clr: #e6e6e6;             /* menu color */

  --pad: 24px;

  --line-height: 1.6;
  /* exactly half of a height of a line basic paragraph */
  --em-space: calc(var(--line-height) * 0.5rem);

}

html{
  font-family: serif;
  background-color: var(--background-clr);
  color: black;

  /* font-size: 1.125em; /* -> 18px */
  font-size: 11.5pt;
}

/* ___ GLOBAL TYPOGRAPHY ___ */

body{
  line-height: var(--line-height);
  overflow-x: hidden;
}

p{
  margin: calc(var(--em-space) * 2) 0;
}

h1, h2, h3{
  line-height: 1.3;
  font-weight: normal;
  margin: 0;
}
h4, h5, h6 {
  line-height: 1.3;
  letter-spacing: 0.2em;
  font-weight: normal;
  margin: 0;
}

h1{
  font-size: 3em;
  letter-spacing: -0.05em;
  line-height: 1;
}
h1 + h1 {
  font-size: 1.75em;
  letter-spacing: -0.03em;
  line-height: 1.3;
}
h2{
  font-size: 1.75em;
  letter-spacing: -0.03em;
}
h3 {
  font-size: 1.25em;
}
h4 {
  font-size: 1em;
}

/* --- typographic fixes --- */
p sup {
	font-size: 75%;
	padding-left: .25em;
}
.footnote a,
.article-cart details main a{
  /* long url doesn't break the width*/
  word-wrap: break-word;
}

/* ___ LAYOUT ___ */
body{
  margin: 0;
  min-height: 100vh;
}

/* NAV INTERFACE */
.button-nav{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--pad) calc(var(--pad) * 2);
}
#nav-left, #nav-right{
  position: fixed;
  bottom: 0;
  padding: var(--pad) calc(var(--pad) * 2);
  z-index: 500;
  align-items: flex-end;
  font-size: 80%;
  letter-spacing: .25px;
}
#nav-left{
  left: 0;
  justify-content: flex-start;
}
#nav-right{
  right: 0;
  justify-content: flex-end;
}


/** Timecode styles */
.audiobookmark.inline {
	font-family: monospace;
	float: left;
	width: 8ch;
	text-align: left;
	clear: left;
	margin: 0 0 0 -10ch;
	line-height: 2;
}

/* ___ MOBILE LAYOUT ___ */

@media screen and (max-width: 1152px) {
  :root{
    --pad: 24px;
  }
}

@media screen and (max-width: 600px) {
  :root{
    --pad: 8px;
  }
  html{
    font-size: 10pt; /* 16px */
  }

  h1 + h1,
  h2{
    line-height: 1.15;
    font-size: 1.5em;
  }

  .audiobookmark.inline {
      font-family: monospace;
      float: left;
      text-align: left;
      clear: left;
      margin: 0;
      line-height: initial;
  }

}
