
/* ___ TOC - MAP ___ */

html{
  scroll-behavior: auto;
}

body{
  display: grid;
  grid-template-columns: 450px 1fr;
}

/* header */

header{
  background: var(--box-clr);
  padding: calc(var(--pad) * 2);
  /* position: fixed; */

  position: sticky;
  top: 0;
  height: 100vh;
  z-index: 3;
  box-sizing: border-box;
}
header h1{
  /* same than entrance article title */
  margin: 0;
  font-size: 2.5em;
  letter-spacing: -0.03em;
}
header p{
  margin: var(--em-space) 0;
  color: grey;
}
header .button-nav{
  margin-top: calc(var(--em-space) * 2);
  justify-content: flex-start;
}

/*  */

#map{

}
#map ul{
  margin: 0; padding: 0;

  padding: calc(var(--pad) * 4);
  padding-top: calc(var(--pad) * 2);
  padding-bottom: 20vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: calc(var(--pad) * 2);
}
#map li{
  list-style: none;
}

@media screen and (max-width: 1400px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
  }
  
  header {
    height: initial;
    position: initial;
  }
}

/* #nav-left{
  width: 100%;

  background: var(--box-clr);
  border-top: var(--vine-width-thin) solid var(--vine-color);
  background: var(--box-clr);
} */
