
:root{
  /* ___ PATHWAYS SECTIONS THEMES ___ */

  /* essay are burgeon, growing idea, starts */
  --essays-clr: yellowgreen;
  --essays-clr-inline: hsl(80, 62%, 48%);
  --essays-uni: "\273C";          /* ✼ */

  /* interviews are flow, rivers, winding */
  --interviews-clr: LightSeaGreen;
  --interviews-clr-inline: hsl(177, 75%, 40%);
  --interviews-uni: "\301C";      /* 〜 */

  /* dreams are light, clearings, checkpoint */
  --dreams-fictions-clr: Gold;
  --dreams-fictions-clr-inline: hsl(51, 96%, 48%);
  --dreams-fictions-uni: "\263C"; /* ☼ */

  /* scores are traces, rocks, the past */
  --scores-clr: Peru;
  --scores-clr-inline: hsl(30, 59%, 53%);
  --scores-uni: "\25CC";         /* ◌ */

  /* code are connected, mycelium, exchanging */
  --code-projects-clr: rosybrown;
  --code-projects-clr-inline: hsl(0, 25%, 65%);
  --code-projects-uni: "\260D";  /* ☍ or something else in the idea of network / connections*/

  /* visuals are elevated, viewpoint, panorama */
  --visuals-clr: LightSkyblue;
  --visuals-clr-inline: hsl(203, 92%, 75%);
  --visuals-uni: "⧊";        /* ⌔ or ⧊*/

  /* roots are a meta section that is inverted */
  --roots-clr: hsl(100, 9%, 24%);
  --roots-uni: none;
}

/* By giving one of the class to an element we can get back
it's color an symbol anytime */
.essays{
  /* essay are burgeon, growing idea, starts */
  --section-clr: var(--essays-clr);
  --section-clr-inline: var(--essays-clr-inline);
  --section-uni: var(--essays-uni);
}
.interviews{
  --section-clr: var(--interviews-clr);
  --section-clr-inline: var(--interviews-clr-inline);
  --section-uni: var(--interviews-uni);
}
.dreams-fictions{
  --section-clr: var(--dreams-fictions-clr);
  --section-clr-inline: var(--dreams-fictions-clr-inline);
  --section-uni: var(--dreams-fictions-uni);
}
.scores{
  --section-clr: var(--scores-clr);
  --section-clr-inline: var(--scores-clr-inline);
  --section-uni: var(--scores-uni);
}
.code-projects{
  --section-clr: var(--code-projects-clr);
  --section-clr-inline: var(--code-projects-clr-inline);
  --section-uni: var(--code-projects-uni);
}
.visuals{
  --section-clr: var(--visuals-clr);
  --section-clr-inline: var(--visuals-clr-inline);
  --section-uni: var(--visuals-uni);
}
.roots {
  --section-clr: var(--roots-clr);
  --section-clr-inline: var(--roots-clr);
  --section-uni: var(--roots-uni);
}


/* ___ GRADIENT ___ */

body.article{
  --gradient-clr: var(--section-clr);
  --gradient-pst: top;
}
body.article.roots{
  --gradient-clr: whitesmoke;
  --gradient-pst: bottom;
}

body.article::after {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
  content: "";

  /* height: 40vh;
  background: radial-gradient(ellipse farthest-corner at var(--gradient-pst), transparent 55%, var(--gradient-clr) 75%);
  transform: scale(1.4, 1); */

  /* height: 30vh;
  background: radial-gradient(ellipse farthest-corner at top, transparent 45%, var(--gradient-clr));
	transform: scale(1.75, 1); */

  height: 40vh;
  background: radial-gradient(ellipse farthest-corner at var(--gradient-pst), transparent 60%, var(--gradient-clr) 85%);
  transform: scale(1.45, 1);


	transform-origin: top center;
	/* z-index: -1; */
  pointer-events: none;
}
body.article.roots::after {
	top: 0;
  opacity: 0.6;
}

/* ___ SELECTION ___ */
body ::selection{
  background-color: var(--roots-clr);
  color: var(--background-clr);
}
body.article ::selection{
  background-color: var(--section-clr);
  color: black;
}
body.article.roots ::selection{
  background-color: whitesmoke;
  color: var(--roots-clr);
}

/* ___ SIGILS ___ */

article span{
  /* background: rgba(0,0,0,0.05); */
}

a.sigil{
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-style: wavy;
  position: relative;
  color: var(--section-clr);
  /* text-decoration-thickness: auto; */

  --picto-size: 1.5em;
  --light-size: 3.5em;
  --space: 0em;
}
a.sigil::after{
  /* picto */
  content: var(--section-uni);
  display: inline-block;
  /* color: var(--section-clr); */

  font-size: var(--picto-size);
  width: var(--picto-size);
  text-align: center;
  line-height: 0;
  vertical-align: middle;

  margin-left: var(--space);
  margin-right: var(--space);
  z-index: 2;
}
a.sigil::before{
  /* gradient */
  content: "";
  display: block;
  font-size: var(--picto-size);

  opacity: 0;
  /* background: radial-gradient(closest-side, var(--section-clr), transparent); */
  color: black;

  width: var(--light-size);
  height: var(--light-size);
  position: absolute;
  /* position behind the picto */
  right: calc(var(--space) + calc(var(--picto-size) / 2) - calc(var(--light-size) / 2));
  /* center in the line-height middle */
  top: calc(50% - calc(var(--light-size) / 2));
  z-index: -1;

  transition: 250ms;
}
/* hovering */
/* a.sigil:hover{
  color: grey;
}
a.sigil:hover::after{
  color: white;
}
a.sigil:hover::before{
  opacity: 1;
  --light-size: 10em;
  background: radial-gradient(closest-side, var(--section-clr), transparent);
} */

/* special case of roots */
a.sigil.roots{
  /* background: var(--section-clr); */
  color: var(--section-clr);
  /* border-radius: 1em 0; */
  /* padding: 0 0.5em; */
}
a.sigil.roots::after,
a.sigil.roots::before{
  content: none;
}
.roots a.sigil.roots {
  color: white;
}

/* ___ PATHWAYS ___ */

.bifurcation .occurence{
  text-decoration: underline;
  text-decoration-style: wavy;
}

.bifurcation{
  display: block;
  height: calc(var(--em-space) * 4);
  transform: translate(0, calc(var(--em-space) * 2));
  box-sizing: border-box;
  z-index: 1000;
  pointer-events: none;

  display: flex;
  align-items: center;
}

.bifurcation-content-wrapper{
  opacity: 0;
  height: 0;
  transition:
    opacity 200ms,
    height 600ms 200ms;
  overflow: hidden;

  padding: 0 100vw; /* so it always fill the whole width of the screen */
  white-space: nowrap;
  background-color: var(--background-clr);
  margin: 0;
  color: grey;
  border: 1px solid gainsboro;
  /* border: 1px solid var(--section-clr); */

  /* fix the display of the pathways text in the case it's an header
  or an li or a blockquote with br in it, etc. */
  display: flex;
  align-items: center;

  /* reverse transition */
  transition:
    height 250ms,
    opacity 50ms 250ms;
}

.bifurcation.shimmer .bifurcation-content-wrapper{
  /* transition */
  opacity: 1;
  height: 100%;
  transition:
    opacity 50ms,
    height 250ms 50ms;
}

/* fix the text inside */
.bifurcation-content-wrapper > *{
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 1rem;
  font-family: serif;
  line-height: 0;
}
.bifurcation-content-wrapper > *::after,
.bifurcation-content-wrapper > *::before{
  display: none;
}
.bifurcation-content-wrapper > * br{
  display: none;
}

/* roots special */
.bifurcation.roots .bifurcation-content-wrapper{
  border: none;
  background: var(--section-clr);
  color: var(--background-clr);
}
.roots .bifurcation:not(.roots) .bifurcation-content-wrapper{
  --background-clr: whitesmoke;
  --box-clr: #ededed;
}
