@media print and (max-width: 992px) {
  html{
    background-color: white;
  }
  body{
    grid-template-columns: 100vw;
    font-size: 1em;
  }
  body > #side-interface,
  body > #side-info{
    display: none;
  }
  body > main{
    margin: 1cm 2cm;
    border: none;
  }
}
