

/* ___ ROOTS CATEGORY ___ */

html{
  background-color: var(--roots-clr);
}
.article-cart summary{
  color: whitesmoke;
}
.article-cart main{
  border-top: none;
}
article{
  color: whitesmoke;
  --vine-color: whitesmoke;
}
a#to-top,
a#to-top:visited{
  color: whitesmoke;
}

.vines-button{
  --background-clr: whitesmoke !important;
  --vine-color: black !important;
}
article a:not(.sigil):not(.vines-button){
  /* filter: invert(1); */
  color: #a9e573 !important; /* invers of default blue link */
}

article img {
  mix-blend-mode: normal;
}

@media screen and (max-width: var(--brk1)) {
  body.article.roots::after{
    /*TODO: not sure this really start at the bottom of the header */
    top: 14vh;
  }
}

@media screen and (max-width: 1152px) {
  .article-cart.roots summary {
    color: var(--roots-clr);
  }
}