:root{
  --vine-color: black;
  --vine-width: 5px;
  --vine-width-thin: 3px;
}
@media screen and (max-width: 600px) {
  :root{
    --vine-width: 3px;
    --vine-width-thin: 2px;
  }
}

.vines-button{
  white-space: nowrap;
  display: inline-block;
  background: var(--background-clr);

  text-decoration: none;
  text-transform: uppercase;
  color: var(--vine-color);

  text-align: center;
  padding: 0.5em 1.5em 0.25em;
  padding-left: 1.5em;
  padding-right: 2em;

  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-color: var(--vine-color);
  border-width: var(--vine-width);

  border-left-width: var(--vine-width);
  border-right-width: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 2em 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 2.5em 100%;

  transition:
    border-width 1s,
    border-radius 1s,
    padding 1s;
}
.vines-button:hover{
  padding-left: 2em;
  padding-right: 1.5em;

  border-left-width: 0;
  border-right-width: var(--vine-width);
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 2em 100%;
  border-bottom-left-radius: 2.5em 100%;
}
#roots-button{
  --vine-color: var(--roots-clr);
  --background-clr: var(--roots-clr);
  color: whitesmoke;
}

hr {
  margin: var(--em-space) auto;
  width: 50%;
  height: 2em;
  border: none;

  border-style: solid;
  border-top: 0;
  border-radius: 50%;
  border-top-left-radius: 40% 50%;
  border-top-right-radius: 40% 50%;


  border-width: var(--vine-width);
  border-color: var(--vine-color);
}

/* ___ INTRO ___ */

header .introduction{
  position: relative;
}
header .introduction::before {
  top: 0;
  left: calc(var(--pad) * -3);
  border-top: solid;
  border-left: solid;
}
header .introduction::after{
  bottom: 0;
  right: calc(var(--pad) * -3);
  border-right: solid;
  border-bottom: solid;
}
header .introduction::before,
header .introduction::after{
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: calc(var(--pad) * 2);
  height: calc(var(--pad) * 2);
  border-radius: 0 50% 0 50%;
  border-color: var(--vine-color);
  border-width: var(--vine-width);
}

/* ___ START SCREEN ___ */

nav#entrances ul > li{
  border-radius: calc(var(--pad) * 4);
}
nav#entrances ul > li:first-child{
  /* border-left-width: calc(var(--vine-width) * 2); */
  border-left: var(--vine-width) solid var(--vine-color);

}
nav#entrances ul > li:not(:last-child)::after{
  content: ""; display: block;
  position: absolute;
  top: 0; left: 0; right: calc(var(--vine-width) * -1/2); bottom: 50%;
  border-right: var(--vine-width) solid var(--vine-color);
  border-radius: inherit;
  border-bottom-right-radius: 0;
}
nav#entrances ul > li:not(:first-child)::before{
  content: ""; display: block;
  position: absolute;
  top: 50%; left: calc(var(--vine-width) * -1/2); right: 0; bottom: 0;
  border-left: var(--vine-width) solid var(--vine-color);
  border-radius: inherit;
  border-top-left-radius: 0;
}
nav#entrances ul > li:last-child{
  /* border-right-width: calc(var(--vine-width) * 2); */
  border-right: var(--vine-width) solid var(--vine-color);
}

@media screen and (max-width: 1152px) {
  nav#entrances ul > li:first-child{
    /* border-left-width: calc(var(--vine-width) * 2); */
    border-left: var(--vine-width) solid var(--vine-color);
  }
  nav#entrances ul > li:not(:last-child)::after{
    content: ""; display: block;
    position: absolute;
    top: 0; bottom: calc(var(--vine-width) * -1/2); left: 0; right: 50%;
    border-right: 0;
    border-bottom: var(--vine-width) solid var(--vine-color);
    border-radius: inherit;
    border-bottom-right-radius: 0;
  }
  nav#entrances ul > li:not(:first-child)::before{
    content: ""; display: block;
    position: absolute;
    bottom: 0; top: calc(var(--vine-width) * -1/2); right: 0; left: 50%;
    border-left: 0;
    border-top: var(--vine-width) solid var(--vine-color);
    border-radius: inherit;
    border-top-left-radius: 0;
  }
  nav#entrances ul > li:last-child{
    /* border-right-width: calc(var(--vine-width) * 2); */
    border-right: var(--vine-width) solid var(--vine-color);
  }
}
@media screen and (max-width: 600px) {
  nav#entrances ul > li{
    border-radius: calc(var(--pad) * 8);
  }
}

/* ___ TITLES ___ */

article h1{
  border-top: solid;
  border-right: solid;
  /* border-top-left-radius: 1em 0.5em;
  border-top-right-radius: 40% 70%;
  border-bottom-right-radius: 2em 30%; */

  border-top-left-radius: 40% 25%;
	border-top-right-radius: 50%;
  border-bottom-right-radius: calc(var(--pad) * 4) 20%;

  /* side */
  padding-left: calc(var(--pad) * 5);
  padding-right: calc(var(--pad) * 5);
  margin-left: calc(var(--pad) * -5);
  margin-right: calc(var(--pad) * -5);

  /* inside */
  padding-top: calc(var(--pad) * 3);
  padding-bottom: 6em;
  /* outside */
  margin-bottom: -6em;
}

article h1 + h1 {
  /* subtitle */
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-style: italic;
  padding-right: 1em;
  text-align: left;
}

article h2{
  border-left: solid;
  border-bottom: solid;
  border-top-left-radius: 2em 3.5em;
  border-bottom-right-radius: 30% 100%;

  /* side */
  padding-left: calc(var(--pad) * 2);
  margin-left: calc(var(--pad) * -2);
  padding-right: 4em;

  /* inside */
  padding-top: calc(var(--em-space) * 2);
  padding-bottom: calc(var(--em-space) * 1);

  /* outside */
  margin-top: calc(var(--em-space) * 4);
  margin-bottom: calc(var(--em-space) * 1);
}
article h3{
  position: relative;

  /* inside */
  padding-top: var(--em-space);
  padding-bottom: calc(var(--em-space) / 4);

  /* outside */
  margin-top: calc(var(--em-space) * 2);
  margin-bottom: calc(var(--em-space) * 2);

  border-bottom: dotted;
  border-color: var(--vine-color);
  border-width: var(--vine-width-thin);
}
article h3::after{
  content: "";
  display: block;
  position: absolute;
  left: 0; right: 25%;

  box-sizing: border-box;
  border-top: solid;
  border-left: solid;

  /* 3 lines height */
  height: calc(var(--em-space) * 6);
  top: 100%;

  margin-left: calc(var(--pad) * -3);
  border-top-left-radius: calc(var(--pad) * 2);
  border-bottom-left-radius: calc(var(--pad) * 2);

  border-top: solid;
  border-left: dotted;
  border-color: var(--vine-color);
  border-width: var(--vine-width-thin);

  pointer-events: none;
}
article h4{
  border-left: solid;
  border-right: solid;

  text-align: center;

  border-top-left-radius: 2em 70%;
  border-bottom-left-radius: 0.5em 30%;
  border-top-right-radius: 0.5em 30%;
  border-bottom-right-radius: 2em 70%;
  padding: 0.5em 1em;

  margin-top: calc(var(--em-space) * 2);
}

article :is(h1, h2, h3::after, h4){
  border-color: var(--vine-color);
  border-width: var(--vine-width);
}

@media screen and (max-width: 1152px) {
  article h1{
  	border-top-right-radius: 50% 40%;
    border-bottom-right-radius: calc(var(--pad) * 8) 25%;
    /* side */
    padding-left: calc(var(--pad) * 2);
    padding-right: calc(var(--pad) * 2);
    margin-left: calc(var(--pad) * -2);
    margin-right: calc(var(--pad) * -2);
    /* inside */
    padding-top: calc(var(--pad) * 3);
    padding-bottom: calc(var(--pad) * 5);
    margin-bottom: calc(var(--pad) * -5);
  }
  article h1 + h1 {
    margin-bottom: 1em;
    padding-right: 0;
  }
  article h2{
    /* side */
    margin-left: 0;
    padding-left: 1.25em;
    padding-right: 1.25em;
  }
}
@media screen and (max-width: 600px) {
  article h1{
    padding-top: calc(var(--pad) * 4);
    padding-bottom: calc(var(--pad) * 3);
    margin-bottom: 0;
  }
  article h3{
    /* inside */
    padding-bottom: 0;
    /* outside */
    margin-top: calc(var(--em-space) * 1);
    margin-bottom: calc(var(--em-space) * 2);
  }
  article h3::after{
    /* 3 lines height */
    height: calc(var(--em-space) * 6);
    margin-left: calc(var(--pad) * -2);
    border-top-left-radius: calc(var(--pad) * 2);
    border-bottom-left-radius: 0;
    border-top: solid;
    border-left: dotted;
    border-color: var(--vine-color);
    border-width: var(--vine-width-thin);
  }
}

h3 + h4{
  margin-top: -0.5em !important;
}

/* ___ blockquote ___ */

article blockquote{
  position: relative;
  margin: 0 calc(var(--pad) * 2);
}
article blockquote::before {
  top: 0;
  left: calc(var(--pad) * -2);
  border-top: solid;
  border-left: solid;
}
article blockquote::after{
  bottom: 0;
  right: calc(var(--pad) * -2);
  border-right: solid;
  border-bottom: solid;
}
article blockquote::before,
article blockquote::after{
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: var(--pad);
  height: var(--pad);
  border-radius: 0 50% 0 50%;
  border-color: var(--vine-color);
  border-width: var(--vine-width-thin);
}

@media screen and (max-width: 600px) {
  article blockquote{
    margin: 0 calc(var(--pad) * 3);
  }
  article blockquote::before {
    left: calc(var(--pad) * -3);
  }
  article blockquote::after{
    right: calc(var(--pad) * -3);
  }
  article blockquote::before,
  article blockquote::after{
    width: calc(var(--pad) * 2);
    height: calc(var(--pad) * 2);
  }
}


/* ___ IFRAME ___ */

/* border: 10px inset white; */
/* border-radius: 40px;
border-bottom-right-radius: 100px; */

iframe {
  border-top: solid;
  border-right: solid;
  border-left: 0;
  border-bottom: 0;

  border-top-left-radius: 40% 25%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: calc(var(--pad) * 4) 20%;

  border-width: calc(var(--vine-width) * 2);
  border-color: var(--gradient-clr);
}
.iframe-wrapper{
  position: relative;
  margin-bottom: calc(2 * var(--pad));
}

.iframe-wrapper > a {
  display: block;
  position: absolute;
  color: black;
  bottom: calc(var(--pad) * -.75);
  left: calc(var(--pad) * -2);

  --vine-color: var(--gradient-clr);
}

.iframe-wrapper > a:before {
  content: 'show ';
}

.iframe-wrapper > a:after {
  content: ' fullscreen';
}

:fullscreen > iframe {
	border: none;
	border-radius: 0;
	height: 100vh;
	width: 100%;
  background: var(--background-clr);
}

:fullscreen > a {
	left: calc(2 * var(--pad));
	bottom: calc(2 * var(--pad));
  transform: none;
  opacity: .6;
}

:fullscreen > a:hover {
  opacity: 1;
}

:fullscreen > a:before {
  content: 'exit fullscreen ';
}


:fullscreen > a:after {
  content: '';
}

/*
:fullscreen > a:after {
  content: ' fullscreen mode';
} */

@media screen and (max-width: 1152px) {
  iframe {
    border-top-right-radius: 45% 30%;
    border-width: calc(var(--vine-width) * 1);
  }
  .iframe-wrapper > a{
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
