

/* ___ VISUALS PROJECTS ___ */

/*
simplest display possibile for now
images take all possibile width of the central column and just scroll down
we make sure you can see the entierty of one picture on your screen
*/

/* take both column space */

body > #side-space{
  display: none;
}

body.article > main{
  grid-column: 2 / span 2;
  padding: 0;
  padding-left: calc(var(--pad) * 2);
  padding-right: calc(var(--pad) * 4);
}
body.article > main > article {
  max-width: 100%;
}

article p{
  margin: 0;

  box-sizing: border-box;
  height: 100vh;
  padding: calc(var(--pad) * 2) 0 calc(var(--pad) * 3);

  display: flex;
  justify-content: center;
  align-items: center;
}
article p > img{
  cursor: crosshair;
  max-width: 100%;
  max-height: 100%;
}
article p:nth-of-type(even){
  margin-left: 20%;
}
article p:nth-of-type(odd){
  margin-right: 20%;
}
article p:only-child{
  margin: 0 !important;
}

/* bonnus visual for roots section */
body.article.roots section.scroll-on-click::after,
body.article.roots section.scroll-on-click::before{
    content: "";
    display: block;
    position: fixed;
    pointer-events: none;
}
body.article.roots section.scroll-on-click::after {
	top: var(--pad);
	right: calc(var(--pad) * 2);
	width: 50vw;
	height: 50vh;
	border-top-left-radius: 40% 25%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 20%;
	border-top: var(--vine-width) solid var(--vine-color);
	border-right: var(--vine-width) solid var(--vine-color);
}
body.article.roots section.scroll-on-click::before {
	bottom: calc(calc(var(--pad) * 2) * 4);
	left: 25vw;
	width: 30vw;
	height: 30vh;
	border-top-left-radius: 20%;
	border-top-right-radius: 20% 100%;
	border-bottom: var(--vine-width) solid var(--vine-color);
	border-left: var(--vine-width) solid var(--vine-color);
	border-right: var(--vine-width) solid var(--vine-color);
	border-bottom-left-radius: 100% 80%;
}

@media screen and (max-width: 1152px) {

  body.article > main{
    grid-column: 1 / span 1;
    padding: 0 var(--pad) 0;

    padding-bottom: calc(25vh / 2);
  }

  article p{
    /* because we have the article-cart on top */
    box-sizing: border-box;
    height: 75vh;
    padding: calc(var(--pad) * 2) 0;
  }
  article p:nth-of-type(even){
    margin-left: calc(var(--pad) * 4);
  }
  article p:nth-of-type(odd){
    margin-right: calc(var(--pad) * 4);
  }

  body.article.roots section.scroll-on-click::after {
  	top: 25vh;
  	width: 85vw;
  }
  body.article.roots section.scroll-on-click::before {
  	bottom: 15vh;
  	left: 20vw;
  	width: 20vw;
  	height: 15vh;
  }

}

/* -- exile -- */
article#exile{
  position: relative;
}
article#exile section.texture{
  /* container behind of the screen height with overflow hidden
  the content in this is going to be translated by every scroll event */
  position: sticky;
  top: 0; left: 0; right: 0;
  height: 100vh;
  margin-bottom: -100vh;
  overflow: hidden;
}
article#exile section.texture > #invert-scroll{
  position: absolute;
  bottom: 0;
  opacity: 0;
}
article#exile section.texture p{
  height: 100vh;
  padding: 0;
}
article#exile section.texture p > img{
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
article#exile section.exile{
  mix-blend-mode: difference;
}

/* reset for the texture section */
/* article#exile section.texture p{
  margin: 0;
  height: auto;
  display: block;
}
article#exile section.texture p > img{
  cursor: auto;
  width: auto;
} */
