
:root{
  --vine-color: black;
  --vine-width: 4px;
}

/* wikipedia CSS */
html{
  font-family: sans-serif;
  background-color: #ffffff;
  color: #202122;
  overflow-y: scroll;
}

body{
  /* wikipedia CSS */
  font-size: calc(1em * 0.875);
  line-height: 1.6;
}
p{
  margin: 0.5em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #000;

  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.17em;
}
h1, h2{
  font-family: 'Linux Libertine','Georgia','Times',serif;
  line-height: 1.3;

  margin-bottom: 0.25em;
  /* padding: 0; */
}
h3, h4, h5, h6 {
  line-height: 1.6;

  margin-top: 0.3em;
  margin-bottom: 0;
  padding-bottom: 0;
}

h1{
  font-size: 1.8em;
}
h2{
  margin-top: 1em;
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}
h3, h4 {
  font-weight: bold;
}

/* POST-WIKIPEDIA */
html{
  /* bigger font */
  font-size: 1.2em;
}

/* titles custom borders */
.article h1{

  border-bottom: 0px;
  border-left: 0px;
  border-top: 1px solid black;
  border-right: 1px solid black;

  border-top-left-radius: 2em 1em;
  border-top-right-radius: 50% 70%;
  border-bottom-right-radius: 4em 40%;

  padding: 0.5em 1em 12em;
  margin-bottom: -12em;
  margin-left: 0em;
  margin-right: -2em;
}
.article h2{
  border-left: 1px solid black;
  border-bottom: 1px solid black;

  border-top-left-radius: 2em;
  border-top-right-radius: 0em;
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 6em 2em;

  box-sizing: border-box;
  position: relative;
  padding-left: 1em;
  /* left: -1em; */
}
.article :is(h1, h2){
  border-color: var(--vine-color);
  border-width: var(--vine-width);
}
.article-cart :is(h1, h2){
  padding: 0;
}

/* ___ GLOBAL ELEMENT ___ */

body{
  margin: 0;
  min-height: 100vh;

  display: grid;
  grid-template-columns: minmax(320px, 1fr) 800px minmax(320px, 1fr);
}

body > #nav-interface{
  grid-column-start: 1;

  box-sizing: border-box;
  height: 100vh;
  padding: 24px;
  padding-right: 4em;
  position: sticky;
  top: 0;
  left: 0;

  z-index: 2;
}
body > main{
  grid-column-start: 2;

  overflow: visible;

  padding-bottom: 96px;
}

/* ___ NAV INTERFACE ___ */

#index-link{
  position: absolute;
  left: 36px; bottom: 36px;

  font-size: 2em;
}

/* ___ HOMEPAGE ___ */

#invitation-to-walk{
  width: 50%;
  padding: 5em 1em;
  margin: 4em auto;
  text-align: center;

  border: 1px solid black;
  border-top: 0;
  border-right: 0;

  border-radius: 50%;
  border-color: var(--vine-color);
  border-width: var(--vine-width);
}
#user-time,
#user-location{
  font-style: italic;
}

/* ___ ARTICLE CART ___ */

.article-cart details > summary{
}
.article-cart details > summary h2{
  margin: 0;
  display: inline-block;
}

/* ___ SHORT TEXTS PAGES ___*/

.short-text{
  width: 100%;
  height: 100vh;

  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ___ ARTICLES ___ */

section.article{
  position: relative;

  padding-top: 48px;
}

.article img{
  /* max must change on mobile */
  max-width: 45%;
  max-height: 80vh;
}
/* pseudo-organic placement of images
as no forest walk goes in a straight line*/
.article p:nth-of-type(even) > img{
  float: left;
  margin-right: 1em;
}
.article p:nth-of-type(odd) > img{
  float: right;
  margin-left: 0.5em;
}

/* ___ ARTICLES-CART ___ */

.article-cart{
  border: 1px black solid;
  border-right: 0;

  padding: 24px;
  border-radius: 48px;

  border-color: var(--vine-color);
  border-width: var(--vine-width);
}

#essays{
  display: flex;
}
#essays.article-cart{
  flex-basis: 1 1 0%;
}
#essays .article-cart:nth-of-type(even){
  border-top: 0;
  border-right: var(--vine-width) solid var(--vine-color);
}
#essays .article-cart:nth-of-type(odd){
  border-bottom: 0;
  border-right: var(--vine-width) solid var(--vine-color);
}
