/* ___ HYPERLINKS SIGILS ___ */

:root{
  /* essay are burgeon, growing idea, starts */
  --c-essay: yellowgreen;
  --u-essay: "\273C";          /* ✼ */

  /* interviews are flow, rivers, winding */
  --c-interview: LightSeaGreen;
  --u-interview: "\301C";      /* 〜 */

  /* dreams are light, clearings, checkpoint */
  --c-dream: Gold;
  --u-dream: "\263C";          /* ☼ */

  /* scores are traces, rocks, the past */
  --c-score: Peru;
  --u-score: "\25CC";          /* ◌ */

  /* code are connected, mycelium, exchanging */
  --c-code: Coral;
  --u-code: "\260D";           /* ☍ */

  /* visuals are elevated, viewpoint, panorama */
  --c-visuals: LightSkyblue;
  --u-visuals: "\2314"         /* ⌔ */
}


/* ___ TYPE OF LINKS ___ */

/* structural hyperlink, the forest architecture */
/* or only button? */
a{
}

/* classic hyperlink */
a{
  text-decoration-style: solid;
  text-decoration-line: underline;
}

/* sigils are emphemeral, algorithmic hyperlink */
a.sigils,
.newpath span{
  text-decoration-style: wavy;
  text-decoration-line: underline;
  white-space: nowrap;

  position: relative;
}

/* ___ SIGILS ___ */

a.sigils::after{
  white-space: nowrap;

  --size: 8em;

  /* style */
  font-size: var(--size);
  box-sizing: border-box;
  width: 1.2em;
  height: 1.2em;

  /* circle */
  border-radius: 50%;
  border: 0.05em solid black;
  border-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;

  /* position */
  position: absolute;
  left: calc(50% - 0.6em);
  top: calc(-0.6em + 0.5rem);
  z-index: -1;
  opacity: 0;

  transition: opacity 0.5s;
}
a.sigils:hover::after{
  opacity: 0.25;
}

a.sigils::before{

  display: inline-block;
  --size: 1em;

  /* style */
  color: black;
  font-size: var(--size);
  box-sizing: border-box;
  width: 1.5em;
  height: 1.5em;

  border-radius: 50%;
  border: 0.075em solid black !important;
  border-color: inherit;
  text-align: center;

  margin-right: 0.5em;
  /* box-shadow: 0 0 5em 5em grey; */

  /* position: absolute;
  left: -3em; */
}


/* ___ PATH ___ */

.newpath{
  color: grey;
  /* display: none; */

  box-sizing: border-box;
  width: calc(50% + 4em);

  float: right;

  position: relative;
  right: -6em;

  margin: 0;
  margin: 0 0 calc(1.6*1em);
  padding-bottom: calc(1.6*1em);

  /* border-left: 1px solid black; */
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5em;

  padding-left: 4em;
  margin-left: -4em;


  border-color: var(--vine-color);

  border-width: 0;
  font-size: 0;
  transition: 0.8s;
}
.newpath.shimmer{
  /* display: block; */
  border-width: var(--vine-width);
  font-size: 1em;

  animation-name: shimmering;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.newpath::after{

  --circle-size: 0.5em;

  content: "";
  display: block;
  width: var(--circle-size);
  height: var(--circle-size);
  position: absolute;
  bottom: calc(calc(calc(var(--circle-size) / 2) +  var(--vine-width))* -1);
  right: calc(calc(var(--circle-size) + var(--vine-width)) * -1);
  border: 1px solid black;
  border-radius: 50%;
  border-color: var(--vine-color);
  border-width: var(--vine-width);
}

/* @keyframes shimmering {
  to{
    letter-spacing: 0.02em;
    opacity: 0.4;
  }
  from{
    letter-spacing: 0;
    opacity: 0.6;
  }
} */


/* ___ CUSTOM SIGILS ___ */

a.sigils.essay{
  color: var(--c-essay);
  border-color: var(--c-essay);
}
.newpath.essay span{
  color: var(--c-essay);
}
a.sigils.essay::after,
a.sigils.essay::before,
.article-cart.essay .category::before{
  content: var(--u-essay);
}

a.sigils.interview{
  color: var(--c-interview);
  border-color: var(--c-interview);
}
.newpath.interview span{
  color: var(--c-interview);
}
a.sigils.interview::after,
a.sigils.interview::before,
.article-cart.interview .category::before{
  content: var(--u-interview);
}

a.sigils.dream{
  color: lightyellow;
  color: LemonChiffon;
  color: var(--c-dream);
  border-color: var(--c-dream);
}
.newpath.dream span{
  color: var(--c-dream);
}
a.sigils.dream::after,
a.sigils.dream::before{
  content:  var(--u-dream);
}

a.sigils.score{
  color: var(--c-score);
  border-color: var(--c-score);
}
.newpath.score span{
  color: var(--c-score);
}
a.sigils.score::after,
a.sigils.score::before{
  content:  var(--u-score);
}

a.sigils.code{
  color: var(--c-code);
  border-color: var(--c-code);
}
.newpath.code span{
  color: var(--c-code);
}
a.sigils.code::after,
a.sigils.code::before{
  content:  var(--u-code);
}

a.sigils.visuals{
  color: var(--c-visuals);
  border-color: var(--c-visuals);
}
.newpath.visuals span{
  color: var(--c-visuals);
}
a.sigils.visuals::after,
a.sigils.visuals::before{
  content: var(--u-visuals);
}
